<%- include('./partials/header'); %>
<%- include('./partials/top_nav'); %>
<% if (typeof keyword !== "undefined") { %>
    <h3 class="search-result">Search Results: <span id="search-keyword"><%- keyword %></span></h3>
<% } %>
<section class="movies-container" id="movie-section">
    <div class="card-container">
        <% if (typeof movieData!== 'undefined') { %>
            <% movieData.forEach(movie => { %>
             <%- include('./partials/home/card',{"imgLink":movie.imgLink,"imgTitle":movie.imgTitle,"movieId": movie.movieId}) %>
            <% }) %>
        <% } %>
    </div>
    <%- include('./partials/home/page_nav'); %>
</section>
<%- include('./partials/common'); %>
<script src="/script/eventBindings.js"></script>
<script src="/script/pageNav.js"></script>
