<%- include('./partials/header'); %>
<%- include('./partials/top_nav'); %>
<div class="moviepg-container">
    <section id="movie-info">
        <div id="output"></div>
        <h1 class="movie-title">
            <%= movieData.imgTitle +" ("+movieData.release_date.substring(0,4)+")" %>
        </h1>
        <input type="hidden" id="movieId" name="movieId" value=<%= movieData.movieId %>>
        <div class="movie-info-mid">
            <img src=<%= movieData.imgLink %> alt=<%= movieData.imgTitle %>>
            <div class="details">
                <h4><%= movieData.tagline || movieData.imgTitle %></h4>
                <p class="details-text">Category: 
                    <% movieData.genres.forEach(element => { %>
                        <a href=<%= "/category/" + element.toLowerCase().replace(" ", "%20") %>>
                        <button type="button" class="btn btn-secondary category-btn"><%= element %></button>
                        </a>
                    <% }) %>
                </p>
                <p class="details-text">Release Date: <%= movieData.release_date %></p>
                <p class="details-text">Movie Length: <%= movieData.runtime %></p>
                <p>Overview:</p>
                <p><%= movieData.overview %></p>
            </div>
            <div class="review-overview">
            </div>
        </div>
    </section>
    <section id="btn-container">
        <%- include('./partials/movie/watchlistbtn.ejs') %>
        <%- include('./partials/movie/reviewbtn.ejs') %>
    </section>
    <!-- User review -->
    <section id="make-review">
        
        
    </section>

    <section id="review-container">
        <div class="sort-container">
            <p class="sort-details current-sort">Most popular</p>
            <span></span>
            <p class="sort-details">Up to date</p>
            <span></span>
            <p class="sort-details">Most funny</p>
        </div>
        <div class="review-content-container">            
        </div>
    </section>
</div>
<%- include('./partials/common'); %>
<script src="/script/ejs.min.js"></script>
<script src="/script/movieComponent.js" type="module"></script>
<script src="/script/movieRating.js" type="module"></script>
<script src="/script/review.js" type="module"></script>

