<%- include('./partials/header'); %>
<%- include('./partials/top_nav'); %>
<div class="profile form"> 
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-item">
                <h2>Your Name</h2>
                <input type="text" class="form-control "  id="name" value="<%- userName %>" readonly>
            </div>
            <div class="profile-item">
                <h2>Your Email</h2>
                <input type="text" class="form-control " value="<%- email %>" readonly>
            </div>
            <div class="profile-item">
                <h2>Your Age</h2>
                <input type="text" class="form-control " value=<%= age %> readonly>
            </div>
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-danger submit-btn">Logout</button>
            </form>
        </div>

        <div class="change-profile">
            <p class="change-name-msg"></p>
            <form class="profile-form">
                <h2>You can change your name here</h2>
                <div >
                    <label for="newName">Enter new user name</label>
                    <input type="text" class="form-control " id="newName" aria-describedby="User Name" placeholder="New Name" name="newName" required>
                </div>
                <button type="submit" class="btn btn-primary submit-btn change-name-btn">Change Name</button>
            </form>
            
            <form class="profile-form">
                <p class="change-pw-msg"></p>
                <h2>You can change your password here</h2>
                <div class="form-group">
                    <label for="New-password">New Password</label>
                    <input type="password" class="form-control "  id="New-password" placeholder="Password" name="newPassword" required>
                </div>
                <div>
                    <label for="Old-password">Old Password</label>
                    <input type="password" class="form-control "  id="Old-password" placeholder="Password" name="oldPassword" required>
                </div>
                <button type="submit" class="btn btn-primary submit-btn change-password-btn">Change password</button>
            </form>

        </div>
    </div>
</div>
<%- include('./partials/common'); %>
<script src="/script/eventBindings.js"></script>
<script src="/script/profile.js"></script>
