<div class="review-overview">
    <h3>Rating</h3>
    <div class="rating-overview">
        <h2 class="total-rating">6.3</h2>
        <div class="rating-details">
            <div class="stars">
                <%- include('staricon.ejs') %>
                <%- include('staricon.ejs') %>
                <%- include('staricon.ejs') %>
                <%- include('staricon.ejs') %>
                <%- include('staricon.ejs') %>
            </div>
            <div class="rating-counts">
                10345 reviews on this movie
            </div>
        </div>
    </div>
    <div class="rating-percentage">
        <div class="star-percentage">
            <p>5 star</p>
            <div class="percentage-bar bar-5">
                <div></div>
                <p>50%</p>
            </div>
        </div>
        <div class="star-percentage">
            <p>4 star</p>
            <div class="percentage-bar bar-4">
                <div></div>
                <p>50%</p>
            </div>
        </div>
        <div class="star-percentage">
            <p>3 star</p>
            <div class="percentage-bar bar-3">
                <div></div>
                <p>50%</p>
            </div>
        </div>
        <div class="star-percentage">
            <p>2 star</p>
            <div class="percentage-bar bar-2">
                <div></div>
                <p>50%</p>
            </div>
        </div>
        <div class="star-percentage">
            <p>1 star</p>
            <div class="percentage-bar bar-1">
                <div></div>
                <p>50%</p>
            </div>
        </div>
    </div>
</div>